<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Radwan -->
    <!-- <add key="consumerKey" value="43aa590044c05c4db6bd911e6ff62efe" /> -->
    <!-- <add key="consumerSecret" value="wrtV9ZI2KpoNBbiq68aJW5XYsg7HUd4l" /> -->
    <!-- Prod -->
    <!--<add key="consumerKey" value="0f04c8c577f789d12a7e85e9ef7d23d9" /> -->
    <!--<add key="consumerSecret" value="lGC5Lktrpi1N8AHm4KQdwnYJ9bSZ6ORX" /> -->
    <!-- Prod sergio.test2-->
    <add key="consumerKey" value="1ef0eef86f089b18cb610532beecf72e" /> 
    <add key="consumerSecret" value="GIx7Z0OncXf9oANe8z3gUQ6wYPtJH21d" /> 
	 

</appSettings>
</configuration>